.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 55px;
}
.pageH{
  height:100%
}

html, body{
  height: 100%
}

.demoObject {
  color: #333333;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
color: #333333;
}

.myButton {
	-moz-box-shadow: 1px 0px 0px 0px #fff6af;
	-webkit-box-shadow: 1px 0px 0px 0px #fff6af;
	box-shadow: 1px 0px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid rgb(243, 187, 66);
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px -3px 0px #ffee66;
}

.demoFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: -1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

  .mFront{
    z-index: 9999;
  }

#customers {  
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(243, 187, 66);
  color: white;
}


.redTable {
  border: 2px solid rgb(243, 187, 66);
  background-color: #EEE7DB;
  width: 75%;
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
  height: 50%;
  align-self: center;
}
.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.redTable tbody td {
  font-size: 23px;
}
.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
.redTable thead {
  background: rgb(243, 187, 66);
}
.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid rgb(243, 187, 66);
}
.redTable thead th:first-child {
  border-left: none;
}

.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: rgb(243, 187, 66);
}
.redTable tfoot td {
  font-size: 13px;
}
.redTable tfoot .links {
  text-align: right;
}
.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: rgb(243, 187, 66);
  padding: 2px 8px;
  border-radius: 5px;
}

h3{
  border: 10px double black;
  color: black;
  background: #ffec64;
  padding: 10px;
}

.txtBox {
  padding: 15px;
     font-size: 16px;
     border-width: 3px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: inset;
     border-radius: 11px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 0px rgba(66,66,66,.75);
     display: block;
}
.txtBox:focus {
  outline:none;
}

.formCSS{
  align-items: center;
}

.closeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.closeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.closeButton:active {
	position:relative;
	top:1px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
